# DataFrames

DataFrame as a bunch of Series put together to share the same index.

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(101)

In [3]:
df = pd.DataFrame(randn(5,5),index='A B C D E'.split(),columns='W X Y Z F'.split())

In [4]:
df

          W         X         Y         Z         F
A  2.706850  0.628133  0.907969  0.503826  0.651118
B -0.319318 -0.848077  0.605965 -2.018168  0.740122
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237
D  0.955057  0.190794  1.978757  2.605967  0.683509
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [6]:
df['X']

A    0.628133
B   -0.848077
C   -0.589001
D    0.190794
E    1.693723
Name: X, dtype: float64

In [7]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B -0.319318 -2.018168
C  0.528813 -0.758872
D  0.955057  2.605967
E  0.302665 -1.159119

In [189]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

DataFrame Columns are just Series

In [8]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [9]:
df['new'] = df['W'] + df['Y']

In [10]:
df

          W         X         Y         Z         F       new
A  2.706850  0.628133  0.907969  0.503826  0.651118  3.614819
B -0.319318 -0.848077  0.605965 -2.018168  0.740122  0.286647
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237  0.717509
D  0.955057  0.190794  1.978757  2.605967  0.683509  2.933814
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841 -1.403420

** Removing Columns**

In [11]:
df.drop('new',axis=1)

          W         X         Y         Z         F
A  2.706850  0.628133  0.907969  0.503826  0.651118
B -0.319318 -0.848077  0.605965 -2.018168  0.740122
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237
D  0.955057  0.190794  1.978757  2.605967  0.683509
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841

In [12]:
# Not inplace unless specified!
df

          W         X         Y         Z         F       new
A  2.706850  0.628133  0.907969  0.503826  0.651118  3.614819
B -0.319318 -0.848077  0.605965 -2.018168  0.740122  0.286647
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237  0.717509
D  0.955057  0.190794  1.978757  2.605967  0.683509  2.933814
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841 -1.403420

In [195]:
df.drop('new',axis=1,inplace=True)

In [196]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Can also drop rows this way:

In [197]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

** Selecting Rows**

In [198]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

Or select based off of position instead of label

In [199]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [200]:
df.loc['B','Y']

-0.84807698340363147

In [201]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [202]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [15]:
df>.5

       W      X      Y      Z      F    new
A   True   True   True   True   True   True
B  False  False   True  False   True  False
C   True  False  False  False  False   True
D   True  False   True   True   True   True
E  False   True  False  False  False  False

In [18]:
df[df>1]

         W         X         Y         Z   F       new
A  2.70685       NaN       NaN       NaN NaN  3.614819
B      NaN       NaN       NaN       NaN NaN       NaN
C      NaN       NaN       NaN       NaN NaN       NaN
D      NaN       NaN  1.978757  2.605967 NaN  2.933814
E      NaN  1.693723       NaN       NaN NaN       NaN

In [19]:
df[df['W']>0]

          W         X         Y         Z         F       new
A  2.706850  0.628133  0.907969  0.503826  0.651118  3.614819
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237  0.717509
D  0.955057  0.190794  1.978757  2.605967  0.683509  2.933814
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841 -1.403420

In [20]:
df[df['W']>0]['Z']

A    0.503826
C   -0.758872
D    2.605967
E   -1.159119
Name: Z, dtype: float64

In [22]:
df[df['W']>0][['Y','X','F']]

          Y         X         F
A  0.907969  0.628133  0.651118
C  0.188695 -0.589001 -0.933237
D  1.978757  0.190794  0.683509
E -1.706086  1.693723 -0.134841

For two conditions you can use | and & with parenthesis:

In [24]:
df[(df['W']>0) | (df['Y'] > 1)]

          W         X         Y         Z         F       new
A  2.706850  0.628133  0.907969  0.503826  0.651118  3.614819
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237  0.717509
D  0.955057  0.190794  1.978757  2.605967  0.683509  2.933814
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841 -1.403420

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [209]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [210]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [211]:
newind = 'CA NY WY OR CO'.split()

In [212]:
df['States'] = newind

In [213]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [214]:
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [215]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [216]:
df.set_index('States',inplace=True)

In [218]:
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509