In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import metrics, svm
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv('../datasets/pollution.csv')
data.head()

,PREC,JANT,JULT,OVR65,POPN,EDUC,HOUS,DENS,NONW,WWDRK,POOR,HC,NOX,SO2,HUMID,MORT
0,36,27,71,8.1,3.34,11.4,81.5,3243,8.8,42.6,11.7,21,15,59,59,921.870
1,35,23,72,11.1,3.14,11.0,78.8,4281,3.5,50.7,14.4,8,10,39,57,997.875
2,44,29,74,10.4,3.21,9.8,81.6,4260,0.8,39.4,12.4,6,6,33,54,962.354
3,47,45,79,6.5,3.41,11.1,77.5,3125,27.1,50.2,20.6,18,8,24,56,982.291
4,43,35,77,7.6,3.44,9.6,84.6,6441,24.4,43.7,14.3,43,38,206,55,1071.289

In [4]:
X = data.iloc [:,:-1]
y = data.iloc [:,-1]
X_train, X_test, y_train, y_test = train_test_split (X, y, test_size = .20)

In [17]:
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor

In [21]:
clf= AdaBoostRegressor()
clf = clf.fit(X_train, y_train)

In [22]:
yp=clf.predict(X_test)

In [23]:
metrics.mean_absolute_error(y_test,yp )

22.37743521062265